/* Sass variable declarations */
$font-stack:    'Circular', Helvetica, sans-serif;
$primary-navy: #2c2c34;
$secondary-navy: #2a2a31;
$turquoise: #17bab8;
$text-grey: #b6bfc9;
$table-border: #404048;
$table-hover: #27272d;

/* Sass mixins */
@mixin linear-gradient($angle,$gradient1, $gradient2) {
  background-color: $gradient2; /* Fallback Color */
  background-image: -webkit-gradient(linear, $angle, from($gradient1), to($gradient2)); /* Saf4+, Chrome */
  background-image: -webkit-linear-gradient($angle, $gradient1, $gradient2); /* Chrome 10+, Saf5.1+, iOS 5+ */
  background-image:    -moz-linear-gradient($angle, $gradient1, $gradient2); /* FF3.6 */
  background-image:     -ms-linear-gradient($angle, $gradient1, $gradient2); /* IE10 */
  background-image:      -o-linear-gradient($angle, $gradient1, $gradient2); /* Opera 11.10+ */
  background-image:         linear-gradient($angle, $gradient1, $gradient2);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=$angle,StartColorStr='#{$gradient1}', EndColorStr='#{$gradient2}');
}

@mixin transition($transition...) {
    -moz-transition:    $transition;
    -o-transition:      $transition;
    -webkit-transition: $transition;
    transition:         $transition;
}


// Font-face declarations
@font-face {
    font-family: "Circular";
    font-style: normal;
    font-weight: 300;
    src: url("../fonts/Circular/circular-light.woff2") format("woff2"),
         url("fonts/circular-light.woff") format("woff");
}

@font-face {
    font-family: "Circular";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/Circular/circular-book.woff2") format("woff2"),
         url("fonts/circular-book.woff") format("woff");
}

@font-face {
    font-family: "Circular";
    font-style: normal;
    font-weight: 500;
    src: url("../fonts/Circular/circular-medium.woff2") format("woff2"),
         url("fonts/circular-medium.woff") format("woff");
}

@font-face {
    font-family: "Circular";
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/Circular/circular-bold.woff2") format("woff2"),
         url("fonts/circular-bold.woff") format("woff");
}

@font-face {
    font-family: "Circular";
    font-style: normal;
    font-weight: 900;
    src: url("../fonts/Circular/circular-black.woff2") format("woff2"),
         url("fonts/circular-black.woff") format("woff");
}



/* General style rules */
body {

    @media(max-width: 48em){
        padding-right: 25px;
        padding-left: 25px;
    }
    
    -webkit-font-smoothing: antialiased;
    text-shadow: rgba(0,0,0,.01) 0 0 1px;
    font-family: $font-stack;
    color: $text-grey;
    @include linear-gradient(180deg, $primary-navy, $secondary-navy);
}

/* Header styles */
header {
    img {
        padding-top: 50px;
        display: block;
        margin-right: auto;
        margin-left: auto;
    }
}

/* Chart style rules */

.canvas-container {
    margin-top: 50px;
    height: 75vh;
    
}

/* This rule fixes a bug in chartjs-angular library */
.chart-container {
    height: calc(75vh - 2.85rem - 5px);
}


chart-legend {
        @media(max-width: 48em){
        display: block;
       margin-bottom: 20px;
    }
}

.line-legend {
    
    li {
        

        @media(max-width: 48em){
            margin: 2px 8px 2px 28px;
        }
        
        display: inline-block;
        white-space: nowrap;
        position: relative;
        border-radius: 5px;
        margin: 2px 8px 2px 28px;
        font-size: smaller;
        cursor: default;
    }
    
}


.line-legend-text {
    padding-left: 25px;
    padding-top: 4px;

}

/* Table style rules */

table {
    
    thead {
        background-color: $turquoise;
        color: white;
        font-weight: 300;
        font-size:  1.5rem; /* 24px */
        
        th {
            
            a {
                color: white;
                cursor: pointer;
                
                &:hover {
                    color: white;
                    text-decoration: none;
                }
                
            }
            
            
            span {
              margin-left: 10px;
            }
            
            height: 50px;
        }
    }
    
    tbody {
        
        
        td {
            
            height: 40px;
            font-weight: 700;
            text-transform: uppercase;
            letter-spacing: 0.05rem; /* 50px */
            
        }
        
    }        

    
}



.table-container {
    margin-top: 50px;
    margin-bottom: 20px;
    
   @media(max-width: 48em){
       margin-top: 30px;
    }
    
}

.table-operations {
    
    margin-bottom: 20px;
    
    
    form {
        padding-left: 0;
        @media(max-width: 48em){
            padding-right: 0;
        }

    }
    
    .btn-container {
         padding-right: 0;
         @media(max-width: 48em) {
             margin-top: 10px;
             padding-left: 0;
        }
    }
    
    
    button {
        
        width: 100%;
        border-radius: 50px;
        font-size: 2rem;
        height: 45px;
        text-decoration: none;
        border: none;
    }
}

.form-control,
.input-group-addon {
    border: 1px solid $text-grey;;
    color: $text-grey;
    background-color: transparent;
    border-radius: 50px;
    font-size: 2rem;
    height: 45px;
    outline: none;
}

#show-avg-btn {

    
    @include transition(background-color, 0.5s);
    color: $primary-navy;
    background-color: white;
    outline: none;
    
    &:hover {
        @include transition(border, background, color 0.5s 0.3s 0.5s);
        background-color: transparent;
        border: 1px solid white;
        color: white;
    }
}


#show-all-btn {
    
    @include transition(background-color, 0.5s);
    color: white;
    background-color: $turquoise;
    outline: none;
    
    &:hover {
        @include transition(border, background, color 0.5s 0.3s 0.5s);
        background-color: transparent;
        border: 1px solid $turquoise;
        color: $turquoise;
    }
}

.table-bordered {
    border: 1px solid $turquoise;
}

.table-bordered>thead>tr>th {
    border: none;
}

.table-bordered>tbody>tr>td {
    
    border: 1px $table-border solid;
}


.table-hover tbody tr:hover td {
  background-color: $table-hover;
  cursor: pointer;
}

.table>thead>tr>th,
.table>tbody>tr>td {
    vertical-align: middle;
}

footer {
    text-align: center;
    margin-bottom: 50px;
}

.row {
    
   @media(max-width: 48em){
        margin-left: 0;
        margin-right: 0;
    }
}